<div class="login-box">    
<h2>Inicia sesion</h2>
<form method="post" action="api/login" (ngSubmit)="ValidateCredentials(); loginForm.resetForm()" #loginForm="ngForm"  >
    <div class="user-box">
        <input type="text" name="username" required [(ngModel)]="this.username">
        <label>Nombre de usuario</label>
    </div>        
    <div class="user-box">
        <input type="password" name="password" required [(ngModel)]="this.password">
        <label>Contraseña</label>
    </div>
    <input class="custom-btn-outline" type="submit" value="Iniciar sesion" >    
</form>
</div>
