$primary-color: #68c8a7;
$primary-color-transparent: rgba(104, 200, 167, 0.5);
$secondary-color: #ddcf9c;
$secondary-color-transparent: rgba(221, 207, 156, 0.5);
$accent-color: #f57c00;
$accent-color-transparent: rgba(245, 124, 0, 0.5);
$darker-primary-color: #a9dcd5a0;
$darker-primary-color-transparent: rgba(46, 117, 107, 0.5);
$lighter-secondary-color: #f5f3e8;
$lighter-secondary-color-transparent: rgba(245, 243, 232, 0.5);


$bg-card-body: linear-gradient(to bottom, #8ca4c4b6, #d3dde9);
$bg-card-footer: linear-gradient(to bottom, #d3dde9, #e7f3ff);

$table-head: #536b8a;
$table-row-odd: #afc8eb;
$table-row-even: #99a9bd;


$normal-font: 1rem;
$high-font: 1.5rem;
$huge-font: 2.5rem;
$bold-font: bold;


$font-family-montserrat: 'Montserrat', sans-serif;
