$valorant-blue: #002855;
$valorant-light-blue: #3c9cd7;
$valorant-red: #ff4654;
$valorant-yellow: #ffd233;
$valorant-purple: #a300ba;
$valorant-green: #20c997;
$valorant-light-green: #4dd5b5;
$valorant-orange: #ff9f1c;
$valorant-grey: #cbd2d9;
$valorant-dark-grey: #1c1e22;



$bg-card-body: linear-gradient(to bottom, #8ca4c4b6, #d3dde9);
$bg-card-footer: linear-gradient(to bottom, #d3dde9, #e7f3ff);

$table-head: #536b8a;
$table-row-odd: #afc8eb;
$table-row-even: #99a9bd;


$normal-font: 1rem;
$high-font: 1.5rem;
$huge-font: 2.5rem;
$bold-font: bold;


$font-family-montserrat: 'Montserrat', sans-serif;
